.file label{
    display: inline-block;
    width: 100px;
    height: 45px;
    background-color: #4a4a4a;
    color: #fff;
    cursor: pointer;
    line-height: 45px;
    border-radius: 5px;
    text-align: center;
}

.file input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
    padding: 0;
}

.checkFile{
    display: inline-block;
    width: 185px;
    height: 45px;
    background-color: #fff;
    color: #4a4a4a;
    cursor: pointer;
    line-height: 45px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #4a4a4a;
}

.indexOfResult{
    width: 100%;
    display: flex;
    /* margin-left: 50px; */
    flex-wrap: wrap;
    margin-top: 50px;
}

.showRank{
    height: 30px;
    width: 50px;
    background-color: #4a4a4a;
    text-align: center;
    position: absolute;
    line-height: 30px;
}

.resultList{
    width: 300px;
    border: 1px solid black;
    text-align: center;
    margin-top: 50px;
    margin-right: 20px;
    /* margin-left: 50px; */
}

.resultList div{
    margin-top: 5px;
}